.user-def-sec {
    @apply grid grid-cols-[8rem_1fr] md:grid-cols-[16rem_1fr] gap-5 gap-y-0;
}

.profile-img {
    @apply row-span-1 md:row-span-4 max-h-[16rem] h-[128px] md:h-auto bg-dark-7 border-dark-22 rounded-xl relative overflow-hidden;
}

.profile-img .my-img {
    @apply absolute bottom-0 left-2 md:left-6 w-[120px] md:w-[212px];
}

.avatar-name {
    @apply self-center;
}

.avatar-name span {
    @apply flex items-center gap-2 whitespace-nowrap text-gray-60 text-heading-xs mb-1;
}

.avatar-name h1 {
    @apply text-heading-xl text-white;
}

.avatar-desc {
    @apply text-[15px] font-medium text-gray-60 col-span-2 md:col-span-1 my-4;
}

.usefull-buttons {
    @apply grid grid-cols-1 md:grid-cols-2 gap-6 gap-y-2 w-full col-span-2 md:col-span-1;
}

.usefull-buttons ScrambleButton {
    @apply text-[13px] font-semibold;
}

.running-services {
    @apply max-w-[100%] overflow-x-hidden mt-4 py-6 mb-2 relative after:pointer-events-none after:absolute after:content-[""] after:w-[100%] after:h-[100%] after:left-0 after:top-0;
}

.running-services::after {
    background-image: linear-gradient(to right, #050505 0%, transparent 10%, transparent 90%, #050505 100%);
}

.running-services-inner {
    @apply flex items-center gap-10 w-fit;
}

.running-services-inner[data-animated="true"] {
    animation: scroll 40s linear infinite;
}

@keyframes scroll {
    to {
        transform: translateX(calc(-50% - 20px));
    }    
}

.achievements {
    @apply grid grid-cols-2 md:grid-cols-4 gap-10 md:gap-3 py-6 border border-dashed border-y-dark-10 border-x-0;
}